@import 'vars';
@import 'mixins';




*{
    margin: 0px;
    padding: 0px;
}

body{
    margin-left: auto;
        margin-right: auto;
        width: 1440px;
        left: 0px;
        top: 0px;
    header{
        margin-left: auto;
        margin-right: auto;
        width: 1440px;
        left: 0px;
        top: 0px;
        .firstDiv{
            background-color: rgba(217, 217, 217, 1);
            display: flex;
            justify-content: space-between;
            padding-left: $value*13;
            padding-top: $value*2;
            padding-bottom: $value*2;
            padding-right: $value*13;

                ul{
                    li{
                        color: rgba(136, 135, 135, 1);
                        list-style: none;
                        display: inline;
                        font-size: $value*2;
                        font-weight: 400;
                        font-family:'Roboto', sans-serif;
                    }
                    #english,#magyar{
                        color: rgba(89, 89, 89, 1);
                        text-decoration: underline;
                    }
                 }
            
        }
        .list{
            font-size: $value*2;
           
            ul{
                display: flex;
                justify-content: space-around;
                font-family: 'Roboto Condensed', sans-serif;
                margin-left: $value*13;
                margin-right: $value*13;
                li{
                    border-left: 1px solid rgba(136, 135, 135, 0.4);
                    padding-top:$value;
                    display: inline-block;
                    padding-left: $value*5;
                    span{
                        display: block;
                        font-size: 12px;
                        padding-bottom: $value;
                        color:rgba(71, 71, 71, 1);
                        ;
                    }
                    
                }
                .last{
                    border-right: 1px solid rgba(136, 135, 135, 0.4);
                    padding-right: $value*7;
                }   
                .hamburger{
                    display:none;
                }
            }

        }
    }
    .video{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 1440px;
        height: 705px;
        left: 0px;
        top: $value*17;
    }
    .sales{
        display: block;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        #veleprodaja{
            margin-top: $value*9;
            align-items: center;
            margin-bottom: $value*9;
        }
        .dvg{
            margin-left: auto;
            margin-right: auto;
            font-size:$value*5;
            margin-top: $value*8;
            margin-left: $value*7;
            font-family:'Roboto', sans-serif;
            font-style: normal;
            margin-bottom: $value*3;
        }
        .dvg2{
            font-size: $value*4;
            font-family: 'Inter';
            margin-right: $value*21;
            margin-left: $value*7;
            margin-bottom: $value*5;
            margin-top: $value*3;

        }
        .dvg3{
            margin-right: $value*19;
            margin-left: $value*7;
            margin-top: $value*7;
            font-size: 14px;
            line-height: 160%;
            font-family:'Roboto', sans-serif;
        }
        .btn1{
            @include button;
            margin-top: $value*5;
            margin-bottom: $value*8;
            padding:$value*2;
            margin-left: $value*7;
        }
        .line{
            margin-left: $value*7;
        }
        .line2{
            margin-left: $value*7;
        }
    }
    }
    .pictures{
        margin-top: $value*9;
        display: flex;
        margin-left: $value*13;
        div{
            margin-left: $value*2;
        }
        p{
            font-size: 24px;
            font-family:'Roboto', sans-serif;
        }
        .line3{
            margin-bottom: $value*19;
        }
    }
    .numbers{
        h1{
            font-size: 42px;
            font-family:'Roboto', sans-serif;
            text-align: center;
        }
        .company2{
            font-size: 28px;
            text-align: center;
            margin-bottom: $value*4;
        }
        .line4{
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: $value*12;
        }
        .container {
            position: relative;
            text-align: center;
            color: white;
            .first{
                position: absolute;
                bottom: $value*15;
                left: $value*20;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 900;
                font-size: 46px;
                border-right: 1px solid rgba(255, 255, 255, 0.2);
                padding-right: $value*12;
                padding-top: $value*7;
                padding-bottom: $value*3;
                span{
                    display: block;
                    font-size: 18px;
                    font-weight: 400;
                }
            }
            .second{
                position: absolute;
                bottom: $value*15;
                left: $value*67;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 900;
                font-size: 46px;
                border-right: 1px solid rgba(255, 255, 255, 0.2);
                padding-right: $value*16;
                padding-top: $value*7;
                padding-bottom: $value*3;
                span{
                    display: block;
                    font-size: 18px;
                    font-weight: 400;
                }
            }
            .third{
                position: absolute;
                bottom: $value*15;
                left: $value*107;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 900;
                font-size: 46px;
                border-right: 1px solid rgba(255, 255, 255, 0.2);
                padding-right: $value*13;
                padding-top: $value*7;
                padding-bottom: $value*3;
                span{
                    display: block;
                    font-size: 18px;
                    font-weight: 400;
                }
            }
            .fourth{
                position: absolute;
                bottom: $value*15;
                left: $value*144;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 900;
                font-size: 46px;
                padding-bottom: $value*3;
                span{
                    display: block;
                    font-size: 18px;
                    font-weight: 400;
                }
            }
          }
    }
    .products{
        background: #F4F4F4;
        padding-top: $value*12;
        h1{
            font-weight: 400;
            font-size: 28px;
            margin-bottom: $value*8;
            text-align: center;
            font-family: 'Inter';
            border-bottom: 3px solid rgba(196, 196, 196, 0.4);
            margin-left: $value*57;
            margin-right: $value*57;
            padding-bottom: $value*8;
        }
        #paragraph{
            text-align: center;
            margin-left: $value*57;
            margin-right: $value*57;
            margin-bottom: $value*8;
            
        }
        .swiper{
            width: 600px;
            height: 300px;
            .swiper-wrapper{
            flex-direction: row;
            position: relative;    
            justify-content: space-around;
            margin-left: $value*14;
            margin-right: $value*14;
            .swiper-slide{
            
            }
            .kese{
                position:absolute;
                font-size: $value*3;
                left:45px;
                bottom: 50px;
            }
            .kuhinja{
                position:absolute;
                font-size: $value*3;
                left:295px;
                bottom:50px;
            }
            .ubrusi{
                position:absolute;
                font-size: $value*3;
                left:525px;
                bottom:22px;
            }
            .kozmetika{
                position:absolute;
                font-size: $value*3;
                left:775px;
                bottom:50px;
            }
            .kante{
                position:absolute;
                font-size: $value*3;
                left:1025px;
                bottom:22px;
            }
            .linija5{
                position:absolute;
                left:45px;
                bottom: 50px;
            }
            .linija6{
                position:absolute;
                left:295px;
                bottom:50px;
            }
            .linija7{
                position:absolute;
                left:525px;
                bottom:22px;
            }
            .linija8{
                position:absolute;
                left:775px;
                bottom:50px;
            }
            .linija9{
                position:absolute;
                left:1025px;
                bottom:22px;
            }
            .swiper-button-prev{
                position:absolute;
                left:-90px;
                bottom: 130px;
                border:none;
                background-color: transparent;
            }
            .swiper-button-next{
                position:absolute;
                left:1248px;
                bottom:130px;
                border:none;
                background-color: transparent;
            }
              }
            }
        }
    
    .brands{
        p{
            font-size: 28px;
            font-weight: 400px;
            text-align: center;
            margin-left: $value*58;
            margin-right: $value*58;
            border-bottom: 3px solid rgba(196, 196, 196, 0.4);
            padding-bottom: $value*6;
            padding-top: $value*10;
        }
        .center{
            margin-left: auto;
            margin-right: auto;
            display: block;
            padding-top: $value*5;
        }
        .btn2{
            @include button;
            padding:$value*2;
            margin-left: $value*74;
            margin-top: $value*10;
            margin-bottom: $value*10;
        }
        
    }
    .end{
      background-image: url(../img/pozadina_footer.png);
        .end-child{
            display: flex;
            .logoLast{
                margin-top: $value*10;
                margin-left: $value*27;
                border-right: 1px solid rgba(255, 255, 255, 0.26);
                padding-right: $value*9;
            }
            .company{
                font-size: 28px;
                color:rgba(255, 255, 255, 1);
                margin-top: $value*11;
                margin-left: $value*6;
                padding-right: $value*22;
                border-right: 1px solid rgba(255, 255, 255, 0.26);
                #put{
                    font-size: 14px;
                }
            }
            .list2{
                margin-top: $value*10;
                padding-left: $value*2;
                line-height: $value*3;
                border-right: 1px solid rgba(255, 255, 255, 0.26);
                padding-right: $value*17;
                ul{
                    li{
                        list-style: none;
                        color:rgba(255, 255, 255, 1);
                    }
                }
            }
            .contact{
                color:rgba(255, 255, 255, 1);
                padding-top: $value*10;
                padding-left: $value*3;
                #fb{
                    padding-top: $value*2;
                    padding-right:$value*2;
                }
                #tw{
                    padding-right: $value*2;
                }
                #yt{
                    padding-right: $value*2;
                }
            }
        }
        .end-child2{
            margin-top: $value*4;
            color:rgba(255, 255, 255, 0.3);
            padding-top: $value*3;
            padding-left: $value*8;
            display: flex;
            padding-bottom: $value*3;
            #private{
                padding-left: $value*20;
                color: rgba(255, 255, 255, 0.5);

            }
            #conditions{
                padding-left: $value*8;
                color: rgba(255, 255, 255, 0.5);

            }
            #powered{
                padding-left: $value*19;
                span{
                    color: rgba(255, 255, 255, 0.5);
                }
            }
        }
        #overlay {
            width: 95.5%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.33);
            z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
            cursor: pointer; /* Add a pointer on hover */
          }
    }   


    @media screen and (min-width: 1025px) {
        .hamburger{
            display: flex;
        }
    }
    
    @media screen and (min-width: 769px) and (max-width:1024px) {
        .hamburger{
            display: flex !important;
        }
        .listItem{
            display: none !important;
        }
    }
    
    @media screen and (min-width: 481px) and (max-width:768px) {
        .hamburger{
            display: flex !important;
        }
        .listItem{
            display: none !important;
        }
    }
    
    @media screen and (max-width:480px) {
        .hamburger{
            display: flex !important;
        }
        .listItem{
            display: none !important;
        }
    }


